<!DOCTYPE HTML>
<html xmlns="" xml:lang="en" lang="en">
<head>
    <title>Happy Birthday</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @font-face {
            font-family: digit;
            src: url('digital-7_mono.ttf') format("truetype");
        }
    </style>
    {% load staticfiles %}
    <embed src="{% static "阿摩司-why not.mp3"%}" hidden="true" autostart="true" loop="true">
    <link href="{% static "default.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "garden.js" %}"></script>
    <script type="text/javascript" src="{% static "functions.js" %}"></script>
</head>
<body>
    <div id="mainDiv">
        <div id="content">
            <div id="code">
                <span class="comments">/**</span><br />
                <span class="space"/><span class="comments">* 在这千千万万个日子里</span><br />
                <span class="space"/><span class="comments">* 总有这样一个特别的一天存在</span><br />
                <span class="space"/><span class="comments">*/</span><br />
                <span class="comments">// 你的破壳日^_^</span><br />
                 Girl u = [[Girl alloc] init];<br />
                i.name = <span class="keyword">@"Huang Ying"</span>;<br />
                <span class="comments">// 祝福对象^_^</span><br />
                Boy *i = [[Boy alloc] init];<br />
                u.name = <span class="keyword">@"Zhang Dequan"</span>;<br />
                <span class="comments">// 快乐走向长长人生路 </span><br />
                [i happiness_leads_to_a_long_life:u];<br />
                <span class="comments">// 送上最美好的祝福和关怀 </span><br />
                [i best_wishes_and_best_care:u];<br />
                <span class="comments">// 献上最诚挚的问候和喜悦！</span><br />
                [i best_regards_and_joy:u];<br />
                <span class="comments">// 去往快乐的世界</span><br />
                [u goto:[[Best_Happy_World alloc] init]]<br />
                <span class="comments">// 愿你开心明天天</span><br />
                [i wan_will_happy_every_day:u]<br />
                <span class="comments">// 愿你每天脸上都挂满笑容</span><br />
                [i want_every_day_there_is_a_smile_on_my_face:u];<br />
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3712320065678109";
/* lovead */
google_ad_slot = "0650322805";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
            </div>
            <div id="loveHeart">
                <canvas id="garden"></canvas>
                <div id="words">
                    <div id="messages">
<center>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3712320065678109";
/* lovead */
google_ad_slot = "0650322805";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
</center>
                        Huang Ying, Happy birthday to you,
                        <!--<div id="elapseClock" style="display:none"></div>-->
                        <a href='https://www.lecake.com/' id="accept">Click And Get Cake</a>
                    </div>
                    <div id="loveu">
                        Happy Every Day<br/>
                        <div class="signature">- Zhang Dequan</div>
                    </div>
                </div>A
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var offsetX = $("#loveHeart").width() / 2;
        var offsetY = $("#loveHeart").height() / 2 - 55;
        
        if (!document.createElement('canvas').getContext) {
            var msg = document.createElement("div");
            msg.id = "errorMsg";
            msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
            document.body.appendChild(msg);
            $("#code").css("display", "none")
            $("#copyright").css("position", "absolute");
            $("#copyright").css("bottom", "10px");
            document.execCommand("stop");
        } else {
            setTimeout(function () {
                adjustWordsPosition();
                startHeartAnimation();
            }, 10000);
            
            $("#accept").click(function(){
                $(this).hide();
                $("#elapseClock").show();
                var together = new Date();
                timeElapse(together);
                setInterval(function () {
                    timeElapse(together);
                }, 500);
            })
            adjustCodePosition();
            $("#code").typewriter();
        }
    </script>
</body>
</html>
